.docks {
    position: absolute;
    width: 100vw;
    height: 15vh;
    background-color: var(--background-small);
    bottom: 0;
    border-radius: 6rem 6rem 0 0;
    justify-content: center;
    align-items: center;
    gap: 6rem;
    list-style: none;
    overflow: hidden;
}

.dock{
    position: relative;
    /* background-color: aqua; */
}

.dock img {
    height: 4.5rem;
    width: 4.5em;
    justify-content: center;
    align-items: center;
}

.dock:hover {
    transform: scale(1.05);
}

.dock:active {
    transform: scale(1.1);
}


/* Dock Model */


.docks-model {
    position: absolute;
    width: 75vw;
    height: 12vh;
    background-color: var(--background-brow-dock);
    bottom: 0.5rem;
    border-radius: 1rem 1rem 2.5rem 2.5rem;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    overflow: hidden;
    padding: 0 1rem 0 1rem;
}

.dock-model img {
    height: 3rem;
    width: 3rem;
    justify-content: center;
    align-items: center;
}

@media (min-height: 800px) {
    .docks-model {
        position: absolute;
        width: 75vw;
        height: 13vh;
        background-color: var(--background-brow-dock);
        bottom: 0.5rem;
        border-radius: 1rem 1rem 2.5rem 2.5rem;
        justify-content: space-around;
        align-items: center;
        list-style: none;
        overflow: hidden;
        padding: 0 1rem 0 1rem;
    }

    .dock-model img {
        height: 3.5rem;
        width: 3.5rem;
        justify-content: center;
        align-items: center;
    }
}

@media (max-height: 799px) {
    .docks-model {
        position: absolute;
        width: 75vw;
        height: 12vh;
        background-color: var(--background-brow-dock);
        bottom: 0.5rem;
        border-radius: 1rem 1rem 2.5rem 2.5rem;
        justify-content: space-around;
        align-items: center;
        list-style: none;
        overflow: hidden;
        padding: 0 1rem 0 1rem;
    }

    .dock-model img {
        height: 3.5rem;
        width: 3.5rem;
        justify-content: center;
        align-items: center;
    }
}


.dock-model:hover {
    transform: scale(1.05);
}

.dock-model:active {
    transform: scale(1.1);
}