.lobby-outside {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 10;
    background: url(../../../../public/background.png);
    background-color: var(--background-windows);
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
}

.lobby-modal {
    position: relative;
    display: flex;
    justify-content: center;
    width: 77vw;
    height: 90vh;
    background-color: var(--background-frame);
    z-index: 15;
    border-radius: 3rem;
    overflow: hidden;
    background: url(../../../../public/background-frame.png);
    /* background-repeat: no-repeat; */
    background-size: cover;
}

/* Lobby header */

.lobby-header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 3rem;
    border-radius: 3rem 3rem 0 0;
    justify-content: center;
    align-items: center;
}

.lobby-close__zone {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    right: 0;
    width: 5rem;
    height: 100%;
}

.lobby-close {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2rem;
    height: 2rem;
    background-color: rgb(255, 1, 1);
    border-radius: 2rem;
}

.lobby-close:hover {
    transform: scale(1.02);
}

.lobby-close:active {
    transform: scale(1.04);
}


.close-icon {
    color: white;
    font-weight: bold;
}

/* ------ */

.lobby-title {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80%;
    width: 16rem;
    margin-top: 0.65rem;
    background-color: var(--background-modal);
    border-radius: 1rem 1rem 0 0;
    color: var(--background-frame);
}



/* Lobby */
.lobby {
    margin-top: 3rem;
    width: 75vw;
    height: 69vh;
    border-radius: 1rem;
    background-color: var(--background-modal);
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    padding: 0.5rem;
}

/* Lobby left */
.lobby-left {
    position: relative;
    width: 79%;
    height: 100%;
    border-radius: 1rem;
    justify-content: space-between;
}

.lobby-room-list,
.lobby-room-participants {
    width: 100%;
    height: 60%;
    background-color: var(--background-black);
    border-radius: 1rem;
}

.room-list-header,
.room-participants-header {
    justify-content: space-around;
    width: 100%;
    min-height: 10%;
    width: 97%;
    overflow: hidden;
}

.room-list-header p,
.room-participants-header p {
    width: 20%;
    font-size: 0.7rem;
    color: white;
}

.room-list,
.room-participants-list {
    height: 87%;
    width: 100%;
    align-items: center;
    overflow: auto;
    list-style: none;
}

.room-list::-webkit-scrollbar,
.room-participants-list::-webkit-scrollbar,
.player-lists::-webkit-scrollbar {
    width: 4px;
}

.room-list::-webkit-scrollbar-thumb,
.room-participants-list::-webkit-scrollbar-thumb,
.player-lists::-webkit-scrollbar-thumb {
    background-color: var(--orange);
    border-radius: 4px;
}



.room {
    justify-content: space-around;
    margin-bottom: 0.5rem;
    width: 97%;
    min-height: 2.1rem;
    background-color: var(--background-black);
    border-radius: 0.6rem;
}

.room p,
.participant p,
.participant-avatar {
    width: 20%;
    font-size: 0.7rem;
    color: white;
}

.participant-avatar {
    justify-content: center;
    align-items: center;
    height: 100%;
    overflow: hidden;
}

.participant-avatar img {
    height: 4.1rem;
}

.participant {
    justify-content: space-around;
    margin-bottom: 0.5rem;
    width: 97%;
    min-height: 4rem;
    background-color: var(--background-black);
    border-radius: 0.6rem;
}

.room-participant-function .delete {
    background-color: var(--brow);
}

.room-participant-function button {
    justify-content: space-around;
    border: none;
    font-size: 0.7rem;
    width: 2rem;
    height: 2rem;
    background-color: var(--greenBlack);
    border-radius: 0.5rem;
    color: white;
    margin-left: 0.5rem;
}

.room-list-function button {
    border: none;
    font-size: 0.7rem;
    height: 1.5rem;
    width: 5rem;
    background-color: var(--greenBlack);
    border-radius: 0.5rem;
    color: white;
}

.full-label {
    background-color: var(--brow) !important;
    user-select: none;
}

.full-label:hover,
.full-label:active {
    transform: scale(1) !important;
}

.room-list-function button:hover,
.room-participant-function button:hover {
    transform: scale(1.05);
}

.room-list-function button:active,
.room-participant-function button:active {
    transform: scale(1.1);
}

/* ------------ */

/* LobbyChat */

.lobby-chat-func {
    height: 37%;
    width: 100%;
    justify-content: space-between;
}

/* NOTE */
.lobby-chat {
    height: 100%;
    max-width: 49%;
    min-width: 48%;
}

.chat {
    position: relative;
    height: 100%;
    min-width: 100%;
    background-color: var(--background-frame);
    border-radius: 1rem;
    padding-top: 1rem;
    overflow: hidden;
    background: url(../../../../public/background-chat.png);
}

.chatbox {
    width: 100%;
    height: 83%;
    padding: 0 1rem 0rem 1rem;
    overflow: auto;
    /* margin-bottom: 0.5rem; */
}

.chatbox::-webkit-scrollbar {
    width: 4px;
}

.chatbox::-webkit-scrollbar-thumb {
    background-color: var(--orange);
    border-radius: 4px;
}

.messages {
    list-style: none;
}

.message {
    align-items: center;
    margin-top: 0.5rem;
    margin-bottom: 1rem;
}

.message p {
    word-wrap: break-word;
    /* padding: 0.3rem 0 0.3rem 0; */
    font-size: 0.5rem !important;
    color: var(--color-message);
    line-height: 1rem;
    padding: 0.5rem;
    border-radius: 0 0.7rem 0.7rem 0.7rem;
    box-shadow: inset 2px 0px 0px 0px rgba(255, 255, 255, .5),
        7px 7px 20px 0px rgba(0, 0, 0, .1),
        4px 4px 5px 0px rgba(0, 0, 0, .1);
}

.message div {
    width: fit-content;
    padding: 0.5rem;
    position: relative;
    font-size: 0.6rem !important;
    border-radius: 0.7rem 0.7rem 0rem 0;
    color: rgb(105, 0, 128);
    text-decoration: 0.8px underline;
    box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, .5),
}

.message:nth-child(even) div {
    color: rgb(0, 128, 0)
}

.message:nth-child(odd) div {
    color: rgb(186, 30, 30)
}

.message:nth-child(even) div,
.message:nth-child(even) p {
    background-color: rgb(255, 255, 255);
}

.message:nth-child(odd) div,
.message:nth-child(odd) p {
    background-color: white;

}



.send-message {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 17%;
    overflow: hidden;
}

#message-input {
    width: 100%;
    height: 100%;
    font-size: 0.6rem;
    border-radius: 0.2rem;
    padding: 0 2rem 0 1rem;
    border: none;
    background-color:  lightblue;
}

#message-input:focus {
    outline: none;
}

.sent-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 2rem;
    height: 100%;
    right: 0.3rem;
    top: 0;
    border-radius: 1rem;
    border: none;
    background: none;
}

.sent-btn i {
    color: var(--background-modal);
}

/* ------------- */

.lobby-right {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;
    height: 100%;
    background-color: var(--background-black);
    border-radius: 1rem;
}

/* ---------------- */
/* Room lobby function */
/* NOTE */
.function,
.room-function {
    height: 100%;
    min-width: 100%;
    justify-content: center;
    align-items: center;
    border-radius: 1rem;
    gap: 2rem;
}

.lobby-function {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    min-width: 50%;
    max-width: 51%;
}

.room-start-leave {
    justify-content: space-around;
    height: 9rem;
}

.start-now,
.room-start-leave {
    width: 69%;
}

.start-now button,
.room-start-leave button {
    width: 100%;
    height: 3.5rem;
    border-radius: 1rem;
    background-color: var(--orange);
    color: white;
    border: none;
}

.room-start-leave button i {
    font-size: 1.5rem;
}

.box-animation {
    border: none;
    width: 100%;
    height: 3.5rem;
    border-radius: 1rem;
    animation: pulse 2s infinite ease-in-out;
}


.find-create {
    justify-content: space-around;
    align-items: center;
    width: 95%;
}

.find-create button {
    width: 45%;
    height: 3.5rem;
    border: none;
    border-radius: 1.5rem;
    background-color: var(--greenBlack);
    color: white;
    font-size: 0.8rem;
}

.start-now button:hover,
.find-create button:hover,
.room-start-leave button:hover {
    transform: scale(1.03);
}

.start-now button:active,
.find-create button:active,
.room-start-leave button:active {
    transform: scale(1.06);
}

/* Player list */

.player-lists {
    align-items: center;
    height: 93%;
    width: 100%;
    list-style: none;
    overflow: auto;
    padding: 0 0.2rem 0 0.3rem;
    gap: 0.6rem;
}

.player-list {
    width: 100%;
    min-height: 18.5%;
    background-color: rgb(245, 245, 245);
    border-radius: 0.5rem;
    overflow: hidden;
}

.player-list-img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
    height: 100%;
    overflow: hidden;
    background: url(../../images/player/frame.png) center center no-repeat;
    background-size: cover;
}

.player-list-img img {
    width: 90%;
    height: auto;
    object-fit: cover;
}

.player-list-information {
    width: 60%;
    height: 100%;
    padding: 0.2rem;
    justify-content: space-around;
    align-items: center;
    overflow: hidden;
}

.player-list-information p {
    font-size: 0.5rem;
}

.player-list-name {
    color: rgb(105, 0, 128);
    font-weight: bold;
    font-size: 0.6rem !important;
}

.watch-btn,
.invite-btn {
    height: 1.3rem;
    width: 4rem;
    font-size: 0.5rem;
    border: none;
    border-radius: 0.3rem;
    background-color: var(--brow);
    color: white;
}

.watch-btn {
    width: 2rem !important;
}

.watch-btn i {
    font-size: 0.7rem;
}

.invite-btn {
    background-color: var(--greenBlack) !important;
}

.watch-btn:hover,
.invite-btn:hover {
    transform: scale(1.02);
}

.watch-btn:active,
.invite-btn:active {
    transform: scale(1.05);
}

.player-list__function {
    width: 100%;
    justify-content: space-around;
    align-items: center;
}