.lobby-outside {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 10;
    background: url(../../../../public/background.png);
    background-color: var(--background-windows);
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
}

.lobby-modal {
    position: relative;
    display: flex;
    justify-content: center;
    width: 77vw;
    height: 90vh;
    background-color: var(--background-frame);
    z-index: 15;
    border-radius: 3rem;
    overflow: hidden;
}

/* Lobby header */

.lobby-header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 3rem;
    border-radius: 3rem 3rem 0 0;
    justify-content: center;
    align-items: center;
}

.lobby-close__zone {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    right: 0;
    width: 5rem;
    height: 100%;
}

.lobby-close {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2rem;
    height: 2rem;
    background-color: rgb(255, 1, 1);
    border-radius: 2rem;
}

.lobby-close:hover {
    transform: scale(1.02);
}

.lobby-close:active {
    transform: scale(1.04);
}


.close-icon {
    color: white;
    font-weight: bold;
}

/* ------ */

.lobby-title {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80%;
    width: 16rem;
    margin-top: 0.65rem;
    background-color: var(--background-modal);
    border-radius: 1rem 1rem 0 0;
    color: var(--background-frame);
}



/* Lobby */
.lobby {
    margin-top: 3rem;
    width: 75vw;
    height: 69vh;
    border-radius: 1rem;
    background-color: var(--background-modal);
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    padding: 0.5rem;
}

/* Lobby left */
.lobby-left {
    position: relative;
    width: 79%;
    height: 100%;
    border-radius: 1rem;
    justify-content: space-between;
}

.lobby-room-list {
    width: 100%;
    height: 60%;
    background-color: var(--background-black);
    border-radius: 1rem;
}

.room-list-header {
    justify-content: space-around;
    width: 100%;
    min-height: 10%;
    width: 97%;
    overflow: hidden;
}

.room-list-header p {
    width: 20%;
    font-size: 0.7rem;
    color: white;
}

.room-list {
    height: 87%;
    width: 100%;
    align-items: center;
    overflow: auto;
    list-style: none;
}

.room-list::-webkit-scrollbar {
    width: 4px;
}

.room-list::-webkit-scrollbar-thumb {
    background-color: var(--orange);
    border-radius: 4px;
}

.room {
    justify-content: space-around;
    margin-bottom: 0.5rem;
    width: 97%;
    min-height: 2.2rem;
    background-color: var(--background-black);
    border-radius: 1rem;
}

.room p {
    width: 20%;
    font-size: 0.7rem;
    color: white;
}

.room-list-function button {
    border: none;
    font-size: 0.7rem;
    height: 1.5rem;
    width: 5rem;
    /* background-color: var(--brown-fresh); */
    background-color: var(--greenBlack);
    border-radius: 1rem;
    color: white;
}

.room-list-function button:hover {
    transform: scale(1.05);
}

.room-list-function button:active {
    transform: scale(1.1);
}

/* ------------ */

/* LobbyChat */

.lobby-chat-func {
    height: 37%;
    width: 100%;
    justify-content: space-between;
}

.lobby-chat {
    position: relative;
    min-height: 100%;
    max-width: 49%;
    background-color: var(--background-windows);
    border-radius: 1rem;
    padding-top: 1rem;
    overflow: hidden;
}

.chatbox {
    width: 100%;
    height: 7rem;
    padding: 0 1rem 0rem 1rem;
    overflow: auto;
    margin-bottom: 0.5rem;
}

.chatbox::-webkit-scrollbar {
    width: 4px;
}

.chatbox::-webkit-scrollbar-thumb {
    background-color: var(--orange);
    border-radius: 4px;
}

.messages {
    list-style: none;
}

.message {
    word-wrap: break-word;
    padding: 0.3rem 0 0.3rem 0;
    font-size: 0.6rem !important;
    color: var(--color-message);
    line-height: 0.9rem;
}



.send-message {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2rem;
    overflow: hidden;
}

#message-input {
    width: 100%;
    height: 100%;
    font-size: 0.6rem;
    border-radius: 0.2rem;
    padding: 0 2rem 0 1rem;
    border: none;
    background-color: var(--background-frame);
}

#message-input:focus {
    outline: none;
}

.sent-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 2rem;
    height: 100%;
    right: 0.3rem;
    top: 0;
    border-radius: 1rem;
    border: none;
    background: none;
}

.sent-btn i {
    color: var(--background-modal);
}

/* ------------- */

.lobby-right {
    width: 20%;
    height: 100%;
    background-color: var(--background-black);
    border-radius: 1rem;
}


@media (min-height: 800px) {
    .chatbox {
        width: 100%;
        height: 9rem;
        padding: 0 1rem 0rem 1rem;
        overflow: auto;
        margin-bottom: 0.5rem;
    }
}

@media (max-height: 800px) {}

/* ---------------- */
/* Room lobby function */
.lobby-function {
    justify-content: center;
    align-items: center;
    min-height: 100%;
    min-width: 48%;
    border-radius: 1rem;
    gap: 2rem;
}

.start-now {
    width: 77%;
}

.start-now button {
    width: 100%;
    height: 3.5rem;
    border-radius: 2rem;
    background-color: var(--orange);
    color: white;
    border: 1px solid #f6e35a;
    /* Thêm border ban đầu */

    animation: pulse 2s infinite ease-in-out;
}


.find-create {
    justify-content: space-around;
    align-items: center;
    width: 95%;
}

.find-create button {
    width: 45%;
    height: 3.5rem;
    border: none;
    border-radius: 2rem;
    background-color: var(--greenBlack);
    color: white;
    font-size: 0.8rem;
}