/* --------HEADER--------- */

#main-menu{
    width: 100vw;
    height: 100vh;
}

#header {
    position: relative;
    width: 100vw;
    height: 10rem;
    padding: 0.5rem;
    padding-left: 1.5rem;
    justify-content: space-between;
    align-items: center;
}

/* main player */
#player-rank__div {
    width: 37rem;
    height: 9rem;
    gap: 1rem;
}

#main-player {
    width: 23rem;
    height: 9rem;
    background-color: var(--background-small);
    justify-content: space-between;
    border-radius: 2rem;
    padding-right: 0.5rem;
}

#avatar {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 15rem;
    height: 9rem;
    background-color: var(--background-small);
    border-radius: 2rem;
    background: url(../../images/player/frame.png) center center no-repeat;
    background-size: cover;
    overflow: hidden;
}

#avatar img {
    height: auto;
    width: 80%;
    object-position: center center;
}

#information-player {
    width: 100%;
    height: 90%;
    list-style: none;
    align-items: center;
    padding: 0.5rem;
    gap: 1.5rem;
}

.name-player {
    color: white;
}

.exp-player,
.pow-player {
    width: 100%;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
}

.exp-player span,
.pow-player span {
    font-weight: bold;
    font-size: 0.8rem;
}

.exp-player span {
    color: var(--green)
}

.pow-player span {
    color: var(--orange)
}

.exp-real,
.pow-real {
    position: relative;
    width: 77%;
    height: 1rem;
    background-color: var(--background-small);
    border-radius: 1rem;
    overflow: hidden;
}

.exp-current {
    position: absolute;
    width: 33%;
    height: 1rem;
    background-color: var(--green);
    border-radius: 1rem;
}

.pow-current {
    position: absolute;
    width: 80%;
    height: 1rem;
    background-color: var(--orange);
    border-radius: 1rem;
}

/* Rank */
#rank {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 2rem;
    width: 9rem;
    height: 9rem;
    background-color: var(--background-small);
    padding: 1rem;
    overflow: hidden;
}

#rank img {
    height: auto;
    width: 90%;
    object-position: center center;
}

/* Finance */

#finance {
    position: absolute;
    width: 40rem;
    height: 2.6rem;
    /* background-color: aqua; */
    right: 1.5rem;
    top: 0.5rem;
    justify-content: space-between;
}

.finance-area {
    position: relative;
    width: 30%;
    height: 2.6rem;
    background-color: var(--background-small);
    list-style: none;
    border-radius: 2rem;
    padding-left: 0.4rem;
    gap: 0.8rem;
}


/* Buy money */
.buy-gold {
    background-color: var(--red) !important;
    overflow: hidden;
    padding: 0 0.5rem 0 1rem;
    gap: 0.8rem;
    color: white;
}

.buy-gold:hover{
    background-color: var(--redLight) !important;
}

.buy-gold:active{
    background-color: var(--red) !important;
}

.buy-gold__img {
    height: 2rem;
    width: 2rem;
    overflow: hidden;
}

.buy-gold__img img {
    height: 2rem;
    width: auto;
}

.buy-gold__title,
.silver-number,
.gold-number {
    font-size: 0.8rem;
}

/* silver */
.silver__img {
    height: 2rem;
    width: 2rem;
    overflow: hidden;
}

.silver-img img,
.gold-img img {
    height: 2rem;
    width: auto;
}

.silver-number {
    color: white;
}

.gold-number {
    color: var(--orange);
}

.silver-button,
.gold-button {
    position: absolute;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2.6rem;
    width: 2.6rem;
    background-color: var(--green);
    border-radius: 0 2rem 2rem 0;
    color: white;
}

.silver-button:hover,
.gold-button:hover {
    background-color: var(--greenBlack);
}

.silver-button:active,
.gold-button:active {
    background-color: var(--green);
}

/* ------------------------------------- */

/* -----------------BODY---------------- */
#body{
    width: 100%;
    height: 26.5rem;
    justify-content: space-between;
    padding: 0 1rem 0 1rem;
}


/* Start Game */

.cow-start{
    list-style: none;
    justify-content: center;
    align-items: center;
    transform: scale(0.9);
    margin-top: -2rem;
}

.cow-start:hover{
    transform: scale(0.95);
}

.cow-start:active{
    transform: scale(1.05);
}

.start img{
    margin-top: -2rem;
    height: 4rem;
    width: auto;
}

/* Event */

/* Task */
.tasks, .events{
    list-style: none;
    width: 6rem;
    height: 26.5rem;
    overflow: hidden;
    padding-top: 2rem;
}

.events{
    padding-top: 0 !important;
    margin-top: -10rem;
}

.task:hover, .event:hover{
    transform: scale(1.05);
}

.task:active, .event:active{
    transform: scale(1.1);
}


.task, .event{
    width: 5rem;
    height: 7rem;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    margin-bottom: 1rem;
}

.task img, .event img{
    width: 4rem;
    height: auto;
}
