@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&family=Handjet:wght@400;700&display=swap');

:root{
    --login-color: #c6f4f2;
}

* {
    padding: 0;
    margin: 0;
    font-family: 'Handjet', monospace;
}